#htmkl {
  font-family: sans-serif;
}
#ghop {
  text-align: center;font-size: 70px;color: red;
}
#doors {
  text-align: center;font-size: 50px;
}
#text {
  color:red;
}
.rook {
  color:red;
}
